<div class="container" style="margin-top: 5%">
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
      <thead>
          <tr>
              <th>#</th>
              <th>ID</th>
              <th>Temperatura</th>
              <th>Umidade</th>
              <th>Data</th>
              <th>Rssi</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let sensor of sensors; let i = index" routerLink="/sensors/{{sensor.id}}">
              <td>{{ i+1 }}</td>
              <td>{{ sensor.id }}</td>
              <td>{{ sensor.temperatura }}</td>
              <td>{{ sensor.umidade }}</td>
              <td>{{ sensor.created_at | date : 'short' }}</td>
              <td>{{ sensor.rssi }}</td>
          </tr>
      </tbody>
  </table>
</div>
