<div class="d-flex" id="wrapper" [ngClass]="toggleMenu ? '' : 'toggled' ">

  <!-- Sidebar -->
  <div class="border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">FATEC DASHBOARD </div>
    <div class="list-group list-group-flush">
      <a
        class="list-group-item list-group-item-action"
        [ngClass]="router.url=='/grid' ? 'active' : ''"
        routerLink="/grid"
        id="grid">
      Rede
      </a>
      <a
        class="list-group-item list-group-item-action"
        [ngClass]="router.url.includes('/sensors') ? 'active' : ''"
        routerLink="/sensors"
        id="sensors"
      >
      Sensores
      </a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <button class="btn btn-primary" id="menu-toggle" (click)="toggleMenu = !toggleMenu">☰</button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        </ul>
      </div>
    </nav>

    <ng-content></ng-content>
  </div>
  <!-- /#page-content-wrapper -->

</div>
