#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.sidebar-heading {
  text-align: center;
  background-color: #AF0C14;
}

#sidebar-wrapper{
  background-color: #9B0A11;
  color: white;
}

.list-group-item{
  background-color: #9B0A11;
  color: white;
}

.list-group-item:hover{
  background-color: #8B090F;
  border-left: solid #00AFB5 10px;
}

.active{
  background-color: #8B090F;
  border: 1px solid rgba(0,0,0,.125);
  border-left: solid #00AFB5 10px;
}

#menu-toggle{
  padding-top: 0.48rem;
  padding-bottom: 0.3rem;
  font-weight: 700;
  background-color: #00AFB5;
  border: 0px;
  font-size: 1.2rem;
  border-radius: 0px;
}

#menu-toggle:focus{
  box-shadow: 0 0 0 0.2rem rgba(0, 175, 181, .5)
}

#menu-toggle:hover, #menu-toggle:active{
  background-color: #007E82
}

.iconic{
  padding: 0px !important;
  margin-right: 50px;
  font-size: 1.7rem;
}

.activex, .iconic:hover, .iconic:active, .iconic:focus {
  outline: none;
  color: #00AFB5 !important;
}
